# OpenAI
VITE_OPENAI_API_KEY=
VITE_OPENAI_BASE_URL=https://api.openai.com/v1

# Gemini
VITE_GEMINI_API_KEY=
VITE_GEMINI_BASE_URL=https://generativelanguage.googleapis.com/v1beta

# LM Studio
VITE_LMSTUDIO_BASE_URL=http://127.0.0.1:1234/v1
